<div class="alert alert-primary d-flex justify-content-between align-items-center" role="alert">
    <p>Adiós {{user}}</p>
</div>

<script>
    setTimeout( () => {
        window.location.href = '/'
    }, 400)
</script>